<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        .container {
            text-align: center;
        }
    </style>
    <title>Webcam Streaming</title>
</head>

<body>

    <div class="container">
        <h1>Webcam Object Detection and Captioning</h1>
        <img src="{{ url_for('video_feed') }}" alt="Webcam Video">
        <p id="caption">{{ caption }}</p>
        <ul id="labels">
            {% for label in labels %}
                <li>{{ label }}</li>
            {% endfor %}
        </ul>
    </div>

    <script>
        function fetchCaption() {
            fetch('/caption')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('caption').innerText = data.caption;
                });
        }

        function fetchLabels() {
            fetch('/labels')
                .then(response => response.json())
                .then(data => {
                    const labelsList = document.getElementById('labels');
                    labelsList.innerHTML = '';
                    data.labels.forEach(label => {
                        const li = document.createElement('li');
                        li.innerText = label;
                        labelsList.appendChild(li);
                    });
                });
        }

        setInterval(fetchCaption, 1000);
        setInterval(fetchLabels, 1000);
    </script>

</body>

</html>
